##############################################

#number of TJ
numTJ    30000

#TJ file
tripleJunctionFileName    ../TJdata/triples_30000.dat

#maximum number of neighbors, usually 30 is fine
maxNeighbor    30

#threshold for neighbor, depends on the number of TJ, most GBs should have ~ 10 neighbors
threshold    0.03

###############################################

#symmetry file
symmetryFileName    ../SymFile/Cubic.prp

#subdomain: PI/a, PI/b, PI/c, PI/d, PI/e; 
fmax    2   2   2   2   0.5

#n1, n2, n3, n4, n5;
n    9   9   9   9   36

#ksym
ksym    36
