##############################################

#number of TJ
numTJ    115100

#TJ file
tripleJunctionFileName    ../TJdata/triples_HB_AZ31.dat

#maximum number of neighbors, usually 30 is fine
maxNeighbor    30

#threshold for neighbor, depends on number of TJ, most GBs should have ~10 neighbors
threshold    0.05

###############################################

#symmetry file
symmetryFileName    ../SymFile/Hexagonal.prp

#subdomain: PI/a, PI/b, PI/c, PI/d, PI/e; 
fmax    3   2   3   2   0.5

#n1, n2, n3, n4, n5;
n    6   9   6   9   36

#ksym
ksym    4

###############################################

#output directory, must exist!
outputDir  ../output/
